/* ------------- 1) <nav>  ---------*/
nav{
    border-style: solid;
    height:49px;
}

nav ul{
    list-style-type: none;
    padding-left: 0px; /* reset */
    font-size:18px;
    position:relative;
    bottom:5px;
}

/* --------- 1.1) left menu --------*/
#div_menu_left{
    float:left;
    width:49.75%;
    height:47px
}

#div_menu_left li{
    float:left;
}

#div_menu_left a{
    text-decoration:none;
    color:black;
    padding:15px 20px;
}

#div_menu_left a:hover{
    color: orange;
    background: black;
}

/* --------- 1.2) right menu --------*/
#div_menu_right{
    float:right;
    width:49.75%;
    height:47px
}

#div_menu_right li{
    float:right;
}

#div_menu_right ul{
    float:right;
    padding-right: 20px;
}

#div_menu_right span{
    position:relative;
    bottom:22px;
    text-align: center;
}

#pic_user{
    width:40px;
    height:40px;
    position: relative;
    bottom: 9px;
}