/* -------------- <div> -------------- */
div{
    border-style: solid;
}

#div_container{
    height:0px;
}

#div_page{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%
}


/* -------------- div_input <form> -------------- */
.form{
    padding-bottom:5px;
}

section{
    width:70%;
    float:left
}

aside{
    width:28.5%;
    float:right
}

#div_display,
#div_input
{
    width:100%;
}