/* General */
div{
    border-style:solid
}

/* ----- 1) <section> -----*/
#page{
    height: 800px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%
}

#input{
    float:left;
    width:27%;
}

/* ----- 1.2) input <table> -----*/
#input table{
    border-style:solid;
    width:100%;
    min-height: 200px;
    font-size: 18px;
    padding-top:37px;
    padding-left:5%;
    padding-right:5%;
}

#input tbody td{
    position: relative;
    bottom:30px;
    padding-bottom:5px;
}

#input tbody input{
    min-width:95.5%
}

#input tbody label{
    margin-right:10px;
}

#input tfoot{
    position: relative;
    text-align: center;
    bottom:10px;
}

#input table tbody td:first-child{
    padding-right: 30px;
}

/* ----- 1.2.2) <button> -----*/
.input_button{
    font-size: 15px;
    padding: 5px 50px;
}

.role_button{
    position:relative;
    bottom:9px;
    margin-bottom:20px;
    font-size:13px;
}

/* ----- 1.3) display ------ */
#display{
    float:right; 
    min-height:200px; 
    width:71.8%;
}

/* ------- 1.3.1) <table> --------- */
#display table{
    width:100%;
    text-align: center;
}

#display thead th{
    border-style: solid;
}

#display tbody td{
    border-style: double;
}




