/* ---------- 1) <section> ---------- */
/* div_display_matched <table> */
#div_display_matched{
    margin-bottom: 152.5px;   
}


/* ---------- 2) <aside> ---------- */
/* btn_find */
#div_input tbody tr:nth-child(3) td{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

#btn_find{
    padding: 5px 50px;
    font-size:15px    
}

/* titles of div_input table */
#div_input th{
    font-size:18px;
    padding-bottom:15px;
}